name: Quarto Build

on: # either one of the following four cases  
  workflow_dispatch: # manually trigger

  schedule:
    - cron: '0 0 * * 0' # weekly (every Sunday)

  push:
    branches: main

  pull_request:
    branches:
      - main
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    permissions:
      actions: write  # needed to allow julia-actions/cache to delete old caches that it has created
      contents: write # needed for Quarto render
    if: ${{ !github.event.pull_request.draft }}
    steps:
      - uses: actions/checkout@v4
      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2
      - uses: julia-actions/setup-julia@v2
        with:
          version: '1'
      - uses: julia-actions/cache@v2
      - uses: julia-actions/julia-buildpkg@v1
        with:
          precompile: true
      - uses: cardinalby/export-env-action@v1
        with:
          envFile: '_environment'    
          expand: 'true'
      - name: Quarto Render
        uses: quarto-dev/quarto-actions/render@v2
        with:
          to: html
      - name: Quarto Publish
        if: ${{ github.ref == 'refs/heads/main' && github.event_name != 'pull_request' }}
        uses: quarto-dev/quarto-actions/publish@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          render: 'false'  # rendered in the previous step already
          target: gh-pages
        
